.Login{
    padding: 0 20px 0 10px;
    background-color: #3381C7;
    border: 1px solid #58A3DD;
    box-shadow: 0px 0px 17px 2px #307DC6 inset;
    display: inline-block;
  font-size: 80%;
  color: rgba(255,255,255,.9);
  text-shadow: #2e7ebd 0 1px 2px;
  border: 1px solid;
  border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
  outline: none;
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  box-shadow: inset rgba(255,255,255,.5) 1px 1px;

}

.Entrar{
    text-decoration: underline;
}